<header class="header" id="header">

  <nav class="nav nav-tabs flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/dailyquestion">Daily Question</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/randomQuestion">Random Question</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Items">Items</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/Category">Categories</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/standings">Standings</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/login">Log in</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/profile">Log in</a>

  </nav>
  <div class="col-xs-12">
    <hr style="margin-top: 5px;">
  </div>
  <router-outlet></router-outlet>	
</header> 