<header class="header" id="header">

  <nav class="navbar container">
      
    <h2 class="logo">This or That</h2>
      
    <div class="list list-right">
      <li class="list-item">
        <a href="#" class="list-link current">Home</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link" routerLink ="/dailyquestion">Daily Questions</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link" routerLink ="/randomQuestion">Random Questions</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link" routerLink ="/Category">Categories</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link" routerLink ="/Items">Items</a>
      </li>
      <li class="list-item">
        <a href="#" class="list-link" routerLink ="/standings">Standings</a>
      </li>
      <li class="list-item screen-lg-hidden">
        <a href="./signin.html" class="list-link">Sign in</a>
      </li>
      <li class="list-item screen-lg-hidden">
        <a href="./signup.html" class="list-link">Sign up</a>
      </li>
      <button class="btn place-items-center" id="theme-toggle-btn">
          <i class="ri-sun-line sun-icon"></i>
          <i class="ri-moon-line moon-icon"></i>
      </button>

      <button class="btn place-items-center" id="search-icon">
        <i class="ri-search-line"></i>
      </button>

      <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
        <i class="ri-menu-3-line open-menu-icon"></i>
        <i class="ri-close-line close-menu-icon"></i>
      </button>

      <a href="#" class="list-link screen-sm-hidden">Sign in</a>
      <a href="#" class="btn sign-up-btn fancy-border screen-sm-hidden">
        <span>Sign up</span>
      </a>
    </div>

  </nav>

  <router-outlet></router-outlet>	
</header> 