
  <div class="container">
    <div class="col-xs-12 center">
      <h1>Items</h1>
    </div>
  </div>

<div *ngFor="let result of results; let i = index">

<div class="panel panel-default">
    <!-- Default panel contents -->
    <h4 class="panel-heading">
    <a routerLink={{link(i)}} routerLinkActive="active">{{result.item_name}}</a>
    </h4>
    <div class="panel-body">
    <p>{{result.item_number_of_votes}}</p>
    <p>{{result.item_percent_of_votes}}</p>
    <p>{{result.item_rank}}</p>
    </div>
</div>
</div>