
  <div class="container">
    <div class="col-xs-12 center">
      <h1>Items</h1>
    </div>
  </div>

<div *ngFor="let result of results; let i = index">

<div class="panel panel-default">
    <!-- Default panel contents -->
    <h4 class="panel-heading">
    <a routerLink={{link(i)}} routerLinkActive="active">{{result.item_name}}</a>
    </h4>
    <h5 class="panel-heading" >
      <img src= {{result.link}} height="600px" width="600px" class="rounded mx-auto d-block" alt="...">
    </h5>
    <div class="panel-body">
      <!-- Table -->
      <table class="table" style="font-size:10pt;">
        <tbody>
            <tr>
            </tr>
        </tbody>
      </table>
    </div>
</div>
</div>