<h3 class="panel-heading text-center" >Standings</h3>

<div *ngFor="let result of results">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <h4 class="panel-heading">
        <p>{{result.item_name}}</p>
        </h4>
    
        <!-- Table -->
        <table class="table" style="font-size:10pt;">
            <tbody>
                <tr>
                    <td>Number of Votes: <span>{{result.item_number_of_votes}}</span></td>
                    <!-- <td>Item rank: <span>{{result.item_rank}}</span></td> -->
                </tr>
            </tbody>
        </table>
    </div>
    </div>