
  <div class="container">
    <div class="col-xs-12 text-center">
      <h1>Random Question</h1>
    </div>
  </div>

    <!-- Default contents -->
    <div class="row">
      <div class="col-6 card" *ngFor="let result of results">
          <div class="card text-center">
              <img src= {{result.link}} class="card-img-top" alt="..." height="600px">
              <h5 class="card-title">{{result.item_name}}</h5>
              <a href="/standings" class="btn btn-primary">Vote</a>   
          </div>
    </div>
  </div>